@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

:root {
  --primary-bg-color: #242424;
  --primary-text-color: #46ffbe;
  --secondary-bg-color: #46ffbe;
  --secondary-text-color: #444444;
}

*:not(#countdown-number) {
  font-family: "Orbitron", sans-serif;
  font-size: 112px;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 100dvh;
  width: 100dvw;
  transition: background-color 0.5s ease;
}

body.zero {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
}

.input-stopwatch {
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  min-width: 1px;
  width: auto;
  max-width: 2ch;
  color: var(--primary-text-color);
  border: none;
  background: none;
  outline: none;
  text-align: center;
  /* Corrigir o problema do cursor de inserção */
  caret-color: transparent;
}

input:disabled {
  opacity: 1; /* Manter o texto visível quando desabilitado */
  -webkit-text-fill-color: var(--primary-text-color); /* Manter a cor do texto no Chrome/Safari */
  pointer-events: none; /* Desabilitar eventos de ponteiro */
}

button {
  background-color: transparent;
  border: 1px solid white;
  width: 32px;
  height: 32px;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: inherit;
}

.js-restart-button {
  border: 1px solid inherit;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-top: 20px; /* Adicionar um pouco de espaço acima dos botões */
}

.hide {
  display: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Para Firefox */
  -webkit-appearance: none; /* Para Chrome, Safari, Edge */
  appearance: none; /* Padrão - navegadores mais modernos */
}

#countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  color: inherit;
  z-index: 1000;
  font-size: 202px;
}

#countdown.hide {
  display: none;
}

.press-start {
  background-color: rgba(70, 255, 190, 0.25);
}

.press-stop {
  background-color: rgba(255, 70, 70, 0.25);
}

.press-pause {
  background-color: rgba(255, 221, 70, 0.25);
}

.press-edit {
  background-color: rgba(255, 255, 255, 0.25);
}

#add30sPaused, #add30sStopped {
  width: auto;
  font-size: 14px;
  padding: 0 10px;
  border-radius: 16px;
}